.like-icon-outer {
    width: 40px;
    margin-left: auto;
    text-align: right;
    cursor: pointer;
    position: relative;
}

.issue.details > .attributes > .like-icon-outer {
    margin-top: -22px;
    margin-bottom: 12px;
}

#tab-content-history > .like-icon-outer {
    margin-top: -28px;
    margin-bottom: 12px;
}

.like-side-by-side p{
    display: inline-block;
    vertical-align: middle;
}

.like-sender-tooltip {
    cursor: pointer;
}
.like-icon-outer p{
    margin:0;
    padding:0;
}
.like-sender-content {
    display: none;
    position: absolute;
    padding: 10px;
    font-size: x-small;
    text-align: left;
    color: #fff;
    border-radius: 5px;
    background: #000;
    width: 100px;
    box-sizing: content-box;
}
.like-sender-content:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 120px;
    border: 15px solid transparent;
    border-top: 15px solid #000;
    margin-left: -5px;
    transform: rotateZ(270deg);
}
.like-sender-tooltip:hover .like-sender-content{
    display: inline-block;
    top: -10px;
    left: -120px;
}
